<p>debounce:</p>
<input (keyup.debounce)="doSomething($event)" />
<p>debounce 500ms:</p>
<input (keyup.debounce.500)="doSomething($event)" />
<p>throttle 1s:</p>
<input (window:scroll.throttle.1000)="doSomething($event)" />

<p>content for scrolling</p>

<input (keyup.outside-zone)="doSomething($event)" />

<p>
  <span
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum eaque,
    impedit quis quibusdam aspernatur, rem explicabo iure, ad cum unde ullam
    accusantium iusto molestiae quas harum quia iste laudantium? Esse?</span
  >
  <span
    >Quaerat mollitia commodi dolorem consectetur aliquid incidunt architecto
    eveniet, ut porro soluta explicabo expedita voluptatum ab voluptates
    ducimus, dolores optio similique ratione esse facere maiores. Sed assumenda
    id dolor odio.</span
  >
  <span
    >Amet quia, quibusdam sit libero unde odio aliquid beatae eum? Est voluptas
    suscipit, beatae dolor consequuntur perferendis non architecto modi labore
    ipsam eos, maxime culpa iusto officia voluptatem minus ipsum!</span
  >
  <span
    >Eveniet doloremque consequuntur esse fugit at cupiditate, rerum, laboriosam
    officia corrupti asperiores molestiae deserunt. Minima illo quaerat, unde
    dicta id, laudantium quia, libero magnam quibusdam tempore ut culpa facilis
    et.</span
  >
  <span
    >Autem neque earum illum veritatis, iure inventore recusandae repellendus,
    magnam officia cum perferendis! Veniam facilis voluptas alias quos, ducimus
    at ipsam eos consectetur dolores dignissimos necessitatibus culpa sapiente?
    Quos, odit.</span
  >
  <span
    >Ut amet necessitatibus molestiae consectetur vitae cum expedita, sequi
    optio rem vero fugit dolor dolorem mollitia voluptatum architecto doloremque
    aperiam nisi, ducimus corporis repellat error illo? Nisi, illum. Sunt,
    facere.</span
  >
  <span
    >Veritatis ut tempore illum aliquid, consequuntur, dicta, reprehenderit
    harum laborum ipsa tenetur dolores numquam ex dolorem saepe quos voluptatum.
    Ipsa quis maiores praesentium voluptatibus quisquam doloremque aspernatur,
    consequuntur neque quo?</span
  >
  <span
    >Maiores eos est nostrum perspiciatis voluptate ipsam consequatur neque,
    dolorem quidem vel laboriosam nisi, illum, ab cupiditate ullam possimus
    labore laudantium unde! Porro placeat labore quisquam, alias ipsum quo
    inventore.</span
  >
  <span
    >Vel harum praesentium at temporibus eligendi eum nemo laborum cumque
    doloremque amet voluptatibus fugit reprehenderit et impedit ut rem quis
    alias, excepturi eius laudantium sit similique. Fugit est impedit
    assumenda?</span
  >
  <span
    >Id laudantium, asperiores consequatur nobis cupiditate sit, vero dolore
    repellat fugiat corporis itaque minima, debitis illum ratione libero ipsa ad
    eius atque tenetur autem numquam. Molestias iste repudiandae dicta
    facilis.</span
  >
  <span
    >Beatae nam facere quaerat, in qui quas est, culpa, recusandae quos
    consectetur dolor quod laboriosam rem aspernatur obcaecati ut tempore illo
    sapiente expedita. Quo cupiditate vitae facere nostrum iste ipsam!</span
  >
  <span
    >Itaque nesciunt unde quis et aliquam qui dolorum illum quia velit ducimus
    laudantium, sit amet vero provident mollitia adipisci fuga ipsam eos
    officiis in iusto veritatis? Magni doloribus molestias officia!</span
  >
  <span
    >Laborum inventore atque accusamus deserunt aspernatur tempora praesentium,
    architecto animi voluptates rerum accusantium rem ducimus culpa et soluta
    quod ad debitis ipsum dolores nulla dolor. Reiciendis obcaecati quibusdam
    maiores similique.</span
  >
  <span
    >Illum doloremque veniam earum doloribus, quas nobis architecto dignissimos
    non at facilis recusandae repellat libero, temporibus quos rerum vitae
    facere voluptatibus pariatur tempora adipisci fuga voluptate veritatis
    corrupti dolores. Odio.</span
  >
</p>
